* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

header{
    background-color: mediumvioletred;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-items: baseline;
    font-size: 0.7rem;
    font-weight: 900;
}

#logo > img {
    width: 1.4rem;
    margin: 0 1rem 0 2rem;
}

header > button {
    margin-right: 3rem;
    width: 3rem;
}

main{
    display: flex;
}

nav {
    width: 20vw;
    background-color: #f2d0e0;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: mediumvioletred
}

nav img {
    width: 1rem;
    margin: 0 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 0.8rem;
    list-style-type: none;
}

.sidenav {
    display: flex;
    align-items: flex-start;
}

#seta{
    margin-left: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 5;
    width: 80vw;
    gap: 0.25rem;
    padding: 2rem;
}

article {
    width: 14rem;
    height: 19.5rem;
    margin: 1rem;
    font-size: 0.85rem;
    text-align: center;
    background-color: white;
    box-shadow: 0.15rem 0.15rem 0.5rem darkgray;
}

article > img {
    width: 14rem;
    height: 14rem;
    object-fit:cover;
}

article > h1, article > p {
    padding: 0.4rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumvioletred;
    height: 7.5vh;
}