@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    position: relative;
    background-color: #729F92;
    width: 27.5rem;
    height: 13.125rem;
    border-radius: 1rem;
    padding: 1.5rem;
    background-image: url(./imgs/pokebola.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.infos > h1 {
    font-size: 2rem;
}

.pokemon-img {
    position: absolute;
    right: 1rem;
    bottom: 4.2rem;
}

.ability {
    display: flex;
    width: 12.5rem;
    justify-content: space-between;
    margin-top: 0.4rem;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.375rem;
    width: 24.6rem;
}

.details > button {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 9rem;
    height: 2.375rem;
    border-radius: 0.5rem;
    font-size: 16px;
    border: none;
    margin-right: 0.5rem;
}

