* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
}

p {
    font-family: 'Helvetica', sans-serif;
}

.destaque{
    color: orange;
}


header{
    height: 10vh;
    padding: 10px;
    color: white;
    background-color: orange;
    border-bottom: 1px solid black;
}

main{
    margin: 15px;
    padding: 10px 30px;
    width: 90vw;
    height: 75vh;
}

article {
    margin: 25px 0;
}

footer{
    height: 7vh;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: black;
}



